body {
  color: #fff;
  background: #1b3a4b;
  background: radial-gradient(ellipse at center, #224c64 0, #111015 100%);
  font-family: 'Noto Sans', sans-serif;
}

.logo {
  font-family: "Rancho", cursive;
}

.site-desc {
  max-width: 420px;
  padding-left: 10px;
  padding-right: 10px;
}

.github-octo-corner svg {
  fill: #09161d;
  color: #607d8b;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px;
  transform: rotate(270deg);
}

@media screen and (min-width: 900px) {
  main summary a[href^='#'] {
    opacity: 0;
  }

  main summary:hover a[href^='#'] {
    opacity: 1;
  }
}

main summary {
  font-size: 20px;
  font-weight: bold;
}

main table {
  min-width: 700px;
  width: 95% !important;
}

main .jdb-bordered-all tr td:nth-child(1) { min-width: 160px; }
main .jdb-bordered-all tr td:nth-child(2) { min-width: 140px; }
main .jdb-table-all tr:nth-child(odd) { background-color: #172531; }
main .jdb-table-all tr:nth-child(even) { background-color: #192c3a; }
main .jdb-table-all { border: #1e3b4e; }

main .jdb-bordered tr,
main .jdb-table-all tr {
  border-bottom: 1px solid #1e3b4e;
}

.jdb-border,
main .jdb-bordered-all tr td,
main .jdb-bordered-all tr th {
  border: 1px solid #1d3b4e;
}

table tr td:nth-child(1) code {
  color: #7ee787;
  font-weight: bold;
}

#options table tr td:nth-child(2) code {
  background-color: transparent;
}

table tr td:nth-child(3) code {
  border: 1px solid #1d3b4e;
  border-radius: 4px;
  padding: 0 6px;
  line-height: 1.5;
}

.jdb-code {
  border-color: #1e3b4e;
  background: #172531;
  margin-top: 0px !important;
}

.jdb-code code {
  background-color: inherit;
}

.code-header {
  font-style: italic;
  padding: 5px 16px;
  background: rgba(23, 37, 49, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #1d3b4e;
  border-right: 2px solid #1d3b4e;
}

.code-title {
  font-weight: bold;
}

.code-description {
  opacity: 0.85;
  margin-top: 5px;
}

.code-description code {
  color: #79c0ff;
}

.code-block .copy-btn {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAfElEQVRIie2Uyw2AMAxDHcQYXQixRwen3cNcQAJU2sogQIBPOSR++UgBXiOSPclIUXu+tgAEAE5t0Mwsm1DqRFVztmE14MBNAskuZbha0ZSoaqgBSDfZ1t13gx/wAz4EaOeg+G5FXTdBQhGAU/4RgDAHuQn8BFHMvVD3UI2rt/EJm0HvRQAAAABJRU5ErkJggg==");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 4px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.code-block {
  margin-top: 16px;
  margin-bottom: 16px;
}

.recommanded {
  color: #4CAF50;
}

.required {
  color: #f44336;
}

.jdb-monospace, code, kbd, pre, samp, .jdb-code, .jdb-codespan {
  font-family: 'Source Code Pro', Consolas, "Courier new", monospace;
}

main pre code.hljs {
  padding: 0;
}
